
body {
	background: #ede7f6;
	font-family: '맑은 고딕','돋움',AppleGothic;
	margin: 0;
}

.viewForm {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.viewFormBanner {
	height: 278px;
}

.headerMast {
	background-color: rgb(103,58,183);
	color: rgb(255,255,255,1);
}

.viewCenteredContent {
	margin: auto;
	width: 100%;
}

.viewFormCard:first-of-type {
	margin-top: -100px;
}

.viewFormCard {
	background-color: #fff;
	margin-bottom: 48px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
	word-wrap: break-word;
}

.viewAccentBanner {
	height: 8px;
}

.accentBackground {
	background-color: rgb(179,136,255);
	color: rgba(0,0,0,1);
}

.viewFormContent {
	color: rgba(0,0,0,.87);
	padding: 34px 17px;
}

.viewFormContent>div, .viewFormContent>.viewItemList>.viewSubmitMessage {
	padding: 0 17px;
}

.viewHeaderHeader {
	margin-bottom: 22px;
}

.viewHeaderTitleRow {
	-webkit-box-align: center;
	box-align: center;
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.viewHeaderTitle {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 34px;
	line-height: 135%;
	max-width: 100%;
	min-width: 0%;
}

.viewHeaderDescription {
	white-space: pre-wrap;
	line-height: 135%;
	margin-top: 22px;
	font-size: 13px;
}

.viewHeaderRequiredLegent {
	color: #db4437;
}

.viewHeaderRequiredLegent, .viewHeaderDisclosure {
	margin-top: 22px;
	font-size: 13px;
}

.viewFormContent > .viewItemList {
	padding: 0px;
}

.viewItemsItem {
	background-color: transparent;
	margin-top: 2px;
	padding: 16px 17px;
	page-break-inside: avoid;
	-webkit-transition: background-color 200ms cubic-bezier(0.0,0.0,0.2,1);
	transition: background-color 200ms cubit-bezier(0.0,0.0,0.2,1);
}

.viewItemsItemHeader {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.viewItemsItemTitleContainer {
	-webkit-box-align: start;
	box-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
	max-width: 100%;
	min-width: 0%;
	position: relative;
}

.viewItemsItemTitle {
	color: #000;
	font-size: 20px;
	line-height: 135%;
	widows: 100%;
}
.viewItemsItemRequiredAsterisk {
	color: #db4437;
}

.viewItemsItemHelpText {
	font-size: 13px;
	line-height: 135%;
	width: 100%;
}

img {
	border: none;
}

.imageResource {
	margin: 3px 0px 5px 0px;
	max-width: 100%;
}

.toggleLabeledContainer {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-box-grow: 1;
	flex-grow: 1;
	box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.viewItemsRadioChoice {
	min-height: 24px;
	padding: .5em .5em .5em 0;
}

.viewItemsRadioChoice:first-child {
	margin-top: 8px;
}

.exportLabelWrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-shrink: 1;
	flex-shrink: 1;
	min-width: 0%;
}

.toggleLabeledContent {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	margin: 3px .5em;
	min-width: 0%;
	font-size: 13px;
}

.viewItemsFile {
	padding-top: 6px;
}

.viewNavigationControls {
	margin-top: 34px;
}

.viewNavigationButtons {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.submitBtn {
	width: 100px;
	height: 32px;
	font-size: 16px;
}