<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>신분증 수집 동의서</title>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<link rel="stylesheet" th:href="@{/collect/consent.css}"></link>

	<script th:inline="javascript">
//<![CDATA[
	if (window.screen.width < 640) {
		$('link:last').attr('href', [[@{/collect/mobile.css}]]);
	}
	
	$("input[type='radio']").checkboxradio();
	
	$(function() {
		$(".submitBtn").click(function(event) {
			
			event.preventDefault();
			
			if ($("#radio-yes").prop("checked")) {
				if (!$("#fileToUpload").get(0).files || !$("#fileToUpload").get(0).files[0]) {
					alert("이미지를 선택해서 업로드해주시기 바랍니다.");
					return;
				}
			} else if (!$("#radio-no").prop("checked")) {
				alert("정보활용동의를 선택해주시기 바랍니다.");
				return;
			}
			
			$("#view").submit();
		});
	});
//]]>
	</script>
</head>
<body>
	<div class="viewForm">
		<div class="viewFormBanner headerMast"></div>
		<div class="viewCenteredContent">
			<form th:action="@{/collect/v1/image}" target="_self" method="POST" id="view" enctype="multipart/form-data">
				<div class="viewFormCard">
					<div class="viewAccentBanner accentBackground"></div>
					<div class="viewFormContent">
						<div class="viewHeaderHeader">
							<div class="viewHeaderTitleRow">
								<div class="viewHeaderTitle" dir="auto" role="heading" aria-level="1">인공지능 학습을 위한 싱가폴 신분증 수집</div>
							</div>
							<div class="viewHeaderDescription">한국스마트인증(주)은 각 국가별 신분증을 모바일 환경에서 자동인식, 추출하는 기술 향상을 위해 인공 지능을 이용하여 학습시키고 있습니다.</div>
							<div class="viewHeaderRequiredLegent" aria-hidden="true" dir="auto">*는 필수항목입니다.</div>
						</div>
						<div class="viewItemList" role="list">
							<div role="listitem" class="viewItemsItem">
								<div class="viewItemsItemHeader">
									<div class="viewItemsItemTitleContainer">
										<div class="viewItemsItemTitle" dir="auto" role="heading" aria-level="2" aria-describedby="i.desc.info">개인정보 활용 동의<span class="viewItemsItemRequiredAsterisk" aria-hidden="true">*</span></div>
										<div class="viewItemsItemHelpText" id="i.desc.info">
											싱가폴 신분증 샘플 수집을 위한 개인정보 수집‧이용, 제공 동의
										</div>
										<img th:src="@{/collect/consent.jpg}" class="imageResource"/>
									</div>
								</div>
								<div>
									<label class="toggleLabeledContainer viewItemsRadioChoice">
										<div class="exportLabelWrapper">
											<input type="radio" name="radio-yes" id="radio-yes" value="yes"/>
											<label class="toggleLabeledContent" for="radio-yes">예, 동의합니다.</label>
										</div>
									</label>
									<label class="toggleLabeledContainer viewItemsRadioChoice">
										<div class="exportLabelWrapper">
											<input type="radio" name="radio-yes" id="radio-no" value="no"/>
											<label class="toggleLabeledContent" for="radio-no">아니오, 동의하지 않습니다.</label>
										</div>
									</label>
								</div>
							</div>
							<div role="listitem" class="viewItemsItem">
								<div class="viewItemsItemHeader">
									<div class="viewItemsItemTitleContainer">
										<div class="viewItemsItemTitle" dir="auto" role="heading" aria-level="2" aria-describedby="i.desc.info">신분증 촬영<span class="viewItemsItemRequiredAsterisk" aria-hidden="true">*</span></div>
										<div class="viewItemsItemHelpText" id="i.desc.info">
											싱가폴 신분증을 스마트폰으로 사진 찍어 첨부해 주세요. 모바일로 접속하신 경우에는 자동으로 카메라가 동작합니다.
										</div>
									</div>
								</div>
								<div class="viewItemsFile">
									<input type="file" accept="image/*" capture="camera" name="fileToUpload" id="fileToUpload"/>
								</div>
							</div>
						</div>
						<div class="viewNavigationControls">
							<div class="viewNavigationButtons">
								<button menu="submitBtn" class="submitBtn" title="제출하기">제출하기</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>