<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>신분증 수집 동의서</title>
	
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<link rel="stylesheet" th:href="@{/collect/consent.css}"></link>

</head>
<body>
	<div class="viewForm">
		<div class="viewFormBanner headerMast"></div>
		<div class="viewCenteredContent">
			<div class="viewFormCard">
				<div class="viewAccentBanner accentBackground"></div>
				<div class="viewFormContent">
					<div class="viewHeaderHeader">
						<div class="viewHeaderTitleRow">
							<div class="viewHeaderTitle" dir="auto" role="heading" aria-level="1">인공지능 학습을 위한 싱가폴 신분증 수집</div>
						</div>
						<div class="viewHeaderDescription">소중한 의견 감사합니다.</div>
						<div class="viewHeaderRequiredLegent" aria-hidden="true" dir="auto"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>